<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Pharmacie</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="AddFour" class="nav-link">Add Fournisseurs</a>
      </li>
      <li class="nav-item">
        <a routerLink="addprod" class="nav-link">Add Produit</a>
      </li>
      <li class="nav-item">
        <a routerLink="addlab" class="nav-link">Add Laboratoires</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
  </div>
  <router-outlet></router-outlet>
</div>
