<div class="container-md">
  <h3>Liste des fournisseurs</h3>
  <table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Address</th>
    <th>Gestion</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let four of Fours">
    <td>{{four.name}}</td>
    <td>{{four.email}}</td>
    <td>{{four.phone}}</td>
    <td>{{four.address}}</td>
    <button type="submit"  class="btn btn-info">Update this Fournisseur</button>
    <button type="submit"  class="btn btn-danger">Delete this Fournisseur</button>
  </tr>
  </tbody>
</table>
</div>
